<h2>Built-in structural directives</h2>
<hr>
<h3 id="ngIf">NgIf Binding</h3>

<div>
  <p>If isActive is true, app-item-detail name will render:</p>
  <app-item-detail *ngIf="isActive" [item]="item"></app-item-detail>
  <button (click)="isActiveToggle()">Toggle app-item-detail</button>
</div>

<div>
  <p>If currentCustomer isn't null, say hello to Laura:</p>
  <div *ngIf="currentCustomer">Hello, {{currentCustomer.name}}</div>
  <p>nullCustomer is null by default. NgIf guards against null. Give it a value to show it:</p>
  <div *ngIf="nullCustomer">Hello, <span>{{nullCustomer}}</span></div>
  <button (click)="giveNullCustomerValue()">Give nullCustomer a value</button>
</div>

<hr>

<div>
  <h4>Show/hide vs. NgIf</h4>
  <p>ItemDetail is in the DOM but hidden</p>
  <app-item-detail [attr.hidden]="isSpecial" [item]="item"></app-item-detail>
  
  <div [style.display]="isSpecial ? 'block' : 'none'">Show with style</div>
  <div [style.display]="isSpecial ? 'none'  : 'block'">Hide with style</div>
</div>

<hr>


<h3 id="ngFor">NgFor Binding</h3>
<div class="box">
  <div *ngFor="let it of items">{{it.name}}</div>
</div>

<p>*ngFor with ItemDetailComponent element</p>
<div class="box">
  <app-item-detail *ngFor="let it of items" [item]="it"></app-item-detail>
</div>

<h4 id="ngFor-index">*ngFor with index</h4>
<div class="box">
  <div *ngFor="let it of items; let i=index">{{i + 1}} - {{it.name}}</div>
</div>

<h4 id="ngFor-trackBy">*ngFor trackBy</h4>
<button (click)="resetList()">Reset items</button>
<button (click)="changeIds()">Change ids</button>

<p>with trackBy</p>
<div class="box">
  <div #withTrackBy *ngFor="let it of items; trackBy: trackByItems">({{it.id}}) {{it.name}}</div>

  <div id="withTrackByCnt" *ngIf="itemsWithTrackByCount">
    Item DOM elements change #{{itemsWithTrackByCount}} with trackBy
  </div>
</div>

<hr>

<h3>NgSwitch Binding</h3>

<p>Pick your favorite item</p>
<div>
 <label *ngFor="let i of items">
   <div><input type="radio" name="items" [(ngModel)]="currentItem" [value]="i">{{i.name}}
   </div>
 </label>
</div>

<div [ngSwitch]="currentItem.feature">
 <app-stout-item    *ngSwitchCase="'stout'"    [item]="currentItem"></app-stout-item>
 <app-device-item   *ngSwitchCase="'slim'"     [item]="currentItem"></app-device-item>
 <app-lost-item     *ngSwitchCase="'vintage'"  [item]="currentItem"></app-lost-item>
 <app-best-item     *ngSwitchCase="'bright'"   [item]="currentItem"></app-best-item>
 <div *ngSwitchCase="'bright'"> Are you as bright as {{currentItem.name}}?</div>
 <app-unknown-item  *ngSwitchDefault           [item]="currentItem"></app-unknown-item>
</div>

<br><br>